body {
  margin: 0;
}

canvas {
  display: block;
}

html {
  cursor: none;
  background-image: url(background.png);
}

.bottomBar {
  height: 40px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  cursor: default;
  background-color: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  cursor: url(cursor.png) 8 8, default;
  display: flex;
  align-items: center;
}

.bottomBar > div {
  width: 24px;
  height: 24px;
  background-color: black;
  margin-left: 6px;
}

.hide.hide.hide {
  display: none;
}

.bottomBar .colorWindow {
  width: 170px;
  height: 150px;
  background-color: black;
  position: relative;
  bottom: 150px;
  display: flex;
  justify-content: space-between;
}

.colorClicker {
  position: absolute;
  width: 100%;
  height: 100%;
}

.color-wheel {
  width: 150px;
  height: 150px;
}
