body {
  margin: 0;
}

canvas {
  display: block;
}

html {
  cursor: none;
  background-image: url(background.png);
}

.bottomBar {
  height: 40px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  cursor: default;
  background-color: rgba(0, 0, 0, .5);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  cursor: url(cursor.png) 8 8, default;
}
